/* Be Vietnam Pro */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

#title{
    padding: 0.8rem;
}

body{
    background-color: #f24d64;
}

.container{
    background-color: white;
    width: 55%;
    border: 2px solid red;
    margin: auto;
    margin-top: 8%;
    vertical-align: middle;
    padding: 2rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.container input, .container select{
    width: 40%;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    margin: 0.8rem;
}

.container input{
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.container input:focus{
    outline: none;
}


label{
    margin-top: 1rem;
    padding-left: 1rem;
    display: block;
}


.custom-file-upload {
    border-radius: 25px;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 18px;
    cursor: pointer;
    margin-left: 2rem;
    background-color: #ebebeb;
}

.custom-file-upload:hover{
    background-color: #b6b4b4;
}
.custom-file-upload:active{
    border: 1px solid black;
    background-color: #b6b4b4;
}

#file-upload {
    display: none;
}

.display{
    height: 4rem;
}
.display span{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

#custom-file-remove{
    display: none;
    width:max-content;
    border-radius: 25px;
    border: 1px solid black;
    padding: 6px 18px;
    cursor: pointer;
    margin-left: 1.2rem;
}

#submit{
    display: block;
    width: 20%;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 25px;
    border: hidden;
    background-color: #6c6bfa;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}


#submit:hover{
    cursor: pointer;
    background-color: #15157a;
}


.about {
    display: block;
    width: 10%;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-size: 1rem;
    margin: auto;
    margin-top: 7rem;
    border-radius: 25px;
    border: hidden;
    background-color: white;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}


.github-icon{
    background-image: url('../icons/github-brands.svg');
    display: inline-block;
    height: 20px;
    width: 20px;
}
.about a{
    color: black;
    display: inline-block;
    text-decoration: none;
}

.about a:hover{
    cursor: pointer;
}